<div>
  <article class="panel is-info">
    <div class="content">
      <h2 class="center panel-heading">Side Texter</h2>
    </div>
    <div class="">
      <div class="content padded-1">
        <p>
          Around Thanksgiving in 2019, I was having trouble sleeping one night, so I decided it would be fun to text myself programmatically using Twilio. Within about thirty minutes of the initial idea, I had a crafted a little ruby script that allowed me to send texts which I then used to send good mornings to my sisters and parents. Seeing how easy it was to send texts with Twilio, I thought it would be fun to create a website that would allow me to send messages out on a schedule. That same day, I quickly produced a prototype of the website in basic HTML/javascript that called down to a sinatra server which handled sending messages. With the prototype in hand, my mind started buzzing with more ideas on fun things I could do with the power of texting.
        </p>
        <p>
          One of my favorite things about software is that there seems to always be new things to learn. Since starting programming, I've been working to gather the necessary skills to handle full stack development. I've found that the most motivating way to work on developing these skills is through various side projects that capture my interest. With the ability to programmatically text now in my pocket, I realized I had a great opportunity to work on these skills. I decided that creating a website where people could easily purchase phone numbers and send text messages would be a great project to continue my efforts. I decided to name the project Side Texter.
        </p>
        <p>
          At work, I had heard a lot of good things about Angular; with several of my companies front-end engineers reccomending it over React. I took their reccomendation and started building my new site in Angular. So far, I've found working with angular to be incredibly satisfying. Having some experience with React from woring on <a routerLink="/side-projects/awkward-math">Awkward Math</a>, I found myself picking up Angular rather quickly. As my site has progressed, I've found the modularization within Angular and the use of Typescript to provide a much more comfortable landscape for a backend developer than I expected from frontend work. In fact, I've enjoyed working with Angular so much, that I decided to build this very website using Angular as well.
        </p>
        <p>
          At this point in time, Side Texter is not live online yet. Unlike with Awkward Math, I'm using the project as an opportunity to learn more about the server-side of web application development as well as the front-end. Currently, I'm writing out the server in Sinatra and using Postgresql to house my data. I'm using a Digital Ocean box to host my server and dev site currently, and plan to continue with them when I'm ready to move to production. At this point in time, I do not have a date for the initial release of Side Texter; however, I imagine I'll have an MVP coming out soon enough.
        </p>
      </div>
    </div>
  </article>
</div>
