<div>
  <article class="panel is-info">
    <div class="content">
      <h1 class="center panel-heading">Will Dengler (dot com)</h1>
    </div>
    <div class="">
      <div class="content padded-1">
        <h3>Hello, World!</h3>
        <p>
          Welcome to my personal website! On this site you can find information about my <a routerLink="experience">experience</a> in software engineering; learn about the side projects I've been working on; and also <a routerLink="contact">contact me</a>.
        </p>
      </div>
    </div>
  </article>
</div>
